.panel {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 1rem;
    padding: 2rem;

    border: 1px solid #ccc;
    border-radius: 12px;
}

.title {
    margin: 0;
    font-weight: 600;
}

.message {
    margin: 0;
    font-size: 1.1rem;
}