.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 24px auto;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 24px;
    background-color: #ffffff;
}

.text {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #333333;
}

.boldText {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #333333;
    font-weight: 500;
}

.instructionText {
    height: 40px;
    color: #555555;
    font-size: 1.1rem;
}

.canvasWrapper {
    height: 350px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #eeeeee;
}

.controls {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.examplesList {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.exampleItem:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.2rem;
    color: #666666;
    /*line-height: 0;*/
}

.tutorialHeader{
    padding: 1rem;
}

.tutorialSection{
    width: 100%;
    max-width: 800px;
    /*margin: 0 auto 24px auto;*/
}

.tutorialContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 24px auto;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 24px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}