* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*4da392*/
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #f0f2f5;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  overscroll-behavior-y: none;
}

h1, h2, h3 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

p {
  margin: 0;
}

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
